In [323]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from fuzzywuzzy import fuzz
import re

import psycopg2
from psycopg2 import Error
import csv

## Importing the unstructured json data - Users, Brands, and Receipts

In [263]:
users_json = pd.read_json('users 2.json', lines=True)
brands_json = pd.read_json('brands (1).json', lines=True)
receipts_json = pd.read_json('receipts (1).json', lines=True)

In [264]:
receipts_json

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [265]:
users_json

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

## Preprocessing the unstructured json data to structured format - to be used to write SQL queries on

In [266]:
# Transform the _id column to keep only the $oid value
users_json['_id'] = users_json['_id'].apply(lambda x: x['$oid'])

In [267]:
users_json['createdDate'] = users_json['createdDate'].apply(lambda x: x['$date'])

In [268]:
users_json['lastLogin'] = users_json['lastLogin'].apply(lambda x: x['$date'] if isinstance(x, dict) and '$date' in x else np.nan)

In [269]:
users_json

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN

In [270]:
# Convert createdDate to ISO 8601 format
users_json['createdDate'] = pd.to_datetime(users_json['createdDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')

# Convert lastLogin to ISO 8601 format
users_json['lastLogin'] = pd.to_datetime(users_json['lastLogin'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')

In [273]:
users_json

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03T15:25:30.554000Z,2021-01-03T15:25:30.596999Z,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN

In [274]:
receipts_json['rewardsReceiptItemList']

0       [{'barcode': '4011', 'description': 'ITEM NOT ...
1       [{'barcode': '4011', 'description': 'ITEM NOT ...
2       [{'needsFetchReview': False, 'partnerItemId': ...
3       [{'barcode': '4011', 'description': 'ITEM NOT ...
4       [{'barcode': '4011', 'description': 'ITEM NOT ...
                              ...
1114    [{'barcode': 'B076FJ92M4', 'description': 'mue...
1115                                                  NaN
1116                                                  NaN
1117    [{'barcode': 'B076FJ92M4', 'description': 'mue...
1118                                                  NaN
Name: rewardsReceiptItemList, Length: 1119, dtype: object

In [275]:
# Explode the rewardsReceiptItemList to create individual rows for each item
receipts_exploded = receipts_json.explode('rewardsReceiptItemList').reset_index(drop=True)

# Convert the dictionaries in the exploded column to separate columns
items_df = pd.json_normalize(receipts_exploded['rewardsReceiptItemList'])

# Drop the original rewardsReceiptItemList column
df_exploded = receipts_exploded.drop(columns=['rewardsReceiptItemList'])

# Concatenate the exploded DataFrame with the items DataFrame
result_df = pd.concat([df_exploded, items_df], axis=1)

# Display the resulting DataFrame
print(result_df)

                                       _id  bonusPointsEarned  \
0     {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1     {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2     {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
3     {'$oid': '5ff1e1f10a720f052300057a'}                5.0
4     {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
...                                    ...                ...
7376  {'$oid': '603d0b710a720fde1000042a'}                NaN
7377  {'$oid': '603cf5290a720fde10000413'}                NaN
7378  {'$oid': '603ce7100a7217c72c000405'}               25.0
7379  {'$oid': '603ce7100a7217c72c000405'}               25.0
7380  {'$oid': '603c4fea0a7217c72c000389'}                NaN

                                bonusPointsEarnedReason  \
0     Receipt number 2 completed, bonus point schedu...
1     Receipt number 5 completed, bonus point schedu...
2     Receipt number 5 completed, bonus point schedu...
3                            All-receipts receipt bonus
4                            All-receipts receipt bonus
...                                                 ...
7376                                                NaN
7377                                                NaN
7378                        COMPLETE_NONPARTNER_RECEIPT
7379                        COMPLETE_NONPARTNER_RECEIPT
7380                                                NaN

                    createDate               dateScanned  \
0     {'$date': 1609687531000}  {'$date': 1609687531000}
1     {'$date': 1609687483000}  {'$date': 1609687483000}
2     {'$date': 1609687483000}  {'$date': 1609687483000}
3     {'$date': 1609687537000}  {'$date': 1609687537000}
4     {'$date': 1609687534000}  {'$date': 1609687534000}
...                        ...                       ...
7376  {'$date': 1614613361873}  {'$date': 1614613361873}
7377  {'$date': 1614607657664}  {'$date': 1614607657664}
7378  {'$date': 1614604048000}  {'$date': 1614604048000}
7379  {'$date': 1614604048000}  {'$date': 1614604048000}
7380  {'$date': 1614565354962}  {'$date': 1614565354962}

                  finishedDate                modifyDate  \
0     {'$date': 1609687531000}  {'$date': 1609687536000}
1     {'$date': 1609687483000}  {'$date': 1609687488000}
2     {'$date': 1609687483000}  {'$date': 1609687488000}
3                          NaN  {'$date': 1609687542000}
4     {'$date': 1609687534000}  {'$date': 1609687539000}
...                        ...                       ...
7376                       NaN  {'$date': 1614613361873}
7377                       NaN  {'$date': 1614607657664}
7378                       NaN  {'$date': 1614604049000}
7379                       NaN  {'$date': 1614604049000}
7380                       NaN  {'$date': 1614565354962}

             pointsAwardedDate  pointsEarned              purchaseDate  ...  \
0     {'$date': 1609687531000}         500.0  {'$date': 1609632000000}  ...
1     {'$date': 1609687483000}         150.0  {'$date': 1609601083000}  ...
2     {'$date': 1609687483000}         150.0  {'$date': 1609601083000}  ...
3                          NaN           5.0  {'$date': 1609632000000}  ...
4     {'$date': 1609687534000}           5.0  {'$date': 1609632000000}  ...
...                        ...           ...                       ...  ...
7376                       NaN           NaN                       NaN  ...
7377                       NaN           NaN                       NaN  ...
7378                       NaN          25.0  {'$date': 1597622400000}  ...
7379                       NaN          25.0  {'$date': 1597622400000}  ...
7380                       NaN           NaN                       NaN  ...

      itemNumber originalMetaBriteQuantityPurchased  pointsEarned targetPrice  \
0            NaN                                NaN           NaN         NaN
1            NaN                                NaN           NaN         NaN
2            NaN                                NaN           NaN         NaN
3            NaN                                NaN           NaN         NaN
4            NaN                                NaN           NaN         NaN
...          ...                                ...           ...         ...
7376         NaN                                NaN           NaN         NaN
7377         NaN                                NaN           NaN         NaN
7378         NaN                                NaN           NaN         NaN
7379         NaN                                NaN           NaN         NaN
7380         NaN                                NaN           NaN         NaN

     competitiveProduct originalFinalPrice originalMetaBriteItemPrice deleted  \
0                   NaN                NaN                        NaN     NaN
1                   NaN                NaN                        NaN     NaN
2                   NaN                NaN                        NaN     NaN
3                   NaN                NaN                        NaN     NaN
4                   NaN                NaN                        NaN     NaN
...                 ...                ...                        ...     ...
7376                NaN                NaN                        NaN     NaN
7377                NaN                NaN                        NaN     NaN
7378                NaN                NaN                        NaN     NaN
7379                NaN                NaN                        NaN     NaN
7380                NaN                NaN                        NaN     NaN

     priceAfterCoupon metabriteCampaignId
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
...               ...                 ...
7376              NaN                 NaN
7377              NaN                 NaN
7378            22.97                 NaN
7379            11.99                 NaN
7380              NaN                 NaN

[7381 rows x 48 columns]

In [280]:
result_df['_id'].value_counts()

_id
{'$oid': '600f2fc80a720f0535000030'}    459
{'$oid': '600f39c30a7214ada2000030'}    450
{'$oid': '600f24970a720f053500002f'}    381
{'$oid': '600f0cc70a720f053500002c'}    217
{'$oid': '600a1a8d0a7214ada2000008'}    203
                                       ...
{'$oid': '6010bdfa0a7214ada200005a'}      1
{'$oid': '6010be200a7214ada200005e'}      1
{'$oid': '60118c0f0a7214ada200007e'}      1
{'$oid': '60118bea0a720f0535000064'}      1
{'$oid': '603c4fea0a7217c72c000389'}      1
Name: count, Length: 1119, dtype: int64

In [281]:
result_df.to_csv('results.csv')

In [282]:
receipts_df['_id'].value_counts()

_id
5ff1e1eb0a720f0523000575    1
601b48df0a720f05f4000238    1
601c11410a720f05f400028e    1
601c2d630a7214ad280002a7    1
601be7120a720f05f400027a    1
                           ..
60088a670a720f05fa0000e0    1
600788cd0a7214ad8900003a    1
60085bad0a720f05fa00006c    1
60088e670a720f05fa00011d    1
603c4fea0a7217c72c000389    1
Name: count, Length: 1119, dtype: int64

In [283]:
receipts_df.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId', 'barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'brand_name'],
      dtype='object')

In [285]:
result_df.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId', 'barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

In [287]:
receipts_drop_columns = ['barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity']

receipts_df.drop(columns=receipts_drop_columns, axis=1, inplace=True)

In [288]:
receipts_df

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId,brand_name
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03T15:25:31.000000Z,2021-01-03T15:25:31.000000Z,2021-01-03T15:25:31.000000Z,2021-01-03T15:25:36.000000Z,2021-01-03T15:25:31.000000Z,500.0,2021-01-03T00:00:00.000000Z,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03T15:24:43.000000Z,2021-01-03T15:24:43.000000Z,2021-01-03T15:24:43.000000Z,2021-01-03T15:24:48.000000Z,2021-01-03T15:24:43.000000Z,150.0,2021-01-02T15:24:43.000000Z,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03T15:25:37.000000Z,2021-01-03T15:25:37.000000Z,NaN,2021-01-03T15:25:42.000000Z,NaN,5.0,2021-01-03T00:00:00.000000Z,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:39.000000Z,2021-01-03T15:25:34.000000Z,5.0,2021-01-03T00:00:00.000000Z,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03T15:25:06.000000Z,2021-01-03T15:25:06.000000Z,2021-01-03T15:25:11.000000Z,2021-01-03T15:25:11.000000Z,2021-01-03T15:25:06.000000Z,5.0,2021-01-02T15:25:06.000000Z,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01T10:22:27.000000Z,2021-03-01T10:22:27.000000Z,NaN,2021-03-01T10:22:28.000000Z,NaN,25.0,2020-08-17T00:00:00.000000Z,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,Nutri-Grain
1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01T15:42:41.873000Z,2021-03-01T15:42:41.873000Z,NaN,2021-03-01T15:42:41.873000Z,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,
1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01T14:07:37.664000Z,2021-03-01T14:07:37.664000Z,NaN,2021-03-01T14:07:37.664000Z,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01T13:07:28.000000Z,2021-03-01T13:07:28.000000Z,NaN,2021-03-01T13:07:29.000000Z,NaN,25.0,2020-08-17T00:00:00.000000Z,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33,Nutri-Grain
1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01T02:22:34.962000Z,2021-03-01T02:22:34.962000Z,NaN,2021-03-01T02:22:34.962000Z,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,

In [289]:
results_drop_cols = ['bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId']

result_df.drop(columns=results_drop_cols, axis=1, inplace=True)

In [290]:
result_df

,_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,...,originalReceiptItemText,itemNumber,originalMetaBriteQuantityPurchased,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,{'$oid': '5ff1e1eb0a720f0523000575'},4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '5ff1e1bb0a720f052300056b'},4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '5ff1e1bb0a720f052300056b'},028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '5ff1e1f10a720f052300057a'},NaN,NaN,NaN,NaN,False,1,True,NaN,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '5ff1e1ee0a7214ada100056f'},4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,{'$oid': '603ce7100a7217c72c000405'},B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,NaN,...,mueller austria hypergrind precision electric ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,{'$oid': '603ce7100a7217c72c000405'},B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,NaN,...,thindust summer face mask - sun protection nec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# Function to extract keys from nested dictionaries
def extract_key(row, key):
    if isinstance(row, list) and len(row) > 0:
        return row[0].get(key)
    else:
        return None

# Extract specific keys from the nested dictionaries
keys_to_extract = ['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview', 'partnerItemId',
                   'preventTargetGapPoints', 'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem',
                   'userFlaggedPrice', 'userFlaggedQuantity']

In [70]:
for key in keys_to_extract:
    receipts_json[key] = receipts_json['rewardsReceiptItemList'].apply(lambda x: extract_key(x, key))

In [71]:
# Drop the original rewardsReceiptsItemList column
receipts_json = receipts_json.drop(columns=['rewardsReceiptItemList'])

# Display the transformed DataFrame
print(receipts_json)

                                       _id  bonusPointsEarned  \
0     {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1     {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2     {'$oid': '5ff1e1f10a720f052300057a'}                5.0
3     {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
4     {'$oid': '5ff1e1d20a7214ada1000561'}                5.0
...                                    ...                ...
1114  {'$oid': '603cc0630a720fde100003e6'}               25.0
1115  {'$oid': '603d0b710a720fde1000042a'}                NaN
1116  {'$oid': '603cf5290a720fde10000413'}                NaN
1117  {'$oid': '603ce7100a7217c72c000405'}               25.0
1118  {'$oid': '603c4fea0a7217c72c000389'}                NaN

                                bonusPointsEarnedReason  \
0     Receipt number 2 completed, bonus point schedu...
1     Receipt number 5 completed, bonus point schedu...
2                            All-receipts receipt bonus
3                            All-receipts receipt bonus
4                            All-receipts receipt bonus
...                                                 ...
1114                        COMPLETE_NONPARTNER_RECEIPT
1115                                                NaN
1116                                                NaN
1117                        COMPLETE_NONPARTNER_RECEIPT
1118                                                NaN

                    createDate               dateScanned  \
0     {'$date': 1609687531000}  {'$date': 1609687531000}
1     {'$date': 1609687483000}  {'$date': 1609687483000}
2     {'$date': 1609687537000}  {'$date': 1609687537000}
3     {'$date': 1609687534000}  {'$date': 1609687534000}
4     {'$date': 1609687506000}  {'$date': 1609687506000}
...                        ...                       ...
1114  {'$date': 1614594147000}  {'$date': 1614594147000}
1115  {'$date': 1614613361873}  {'$date': 1614613361873}
1116  {'$date': 1614607657664}  {'$date': 1614607657664}
1117  {'$date': 1614604048000}  {'$date': 1614604048000}
1118  {'$date': 1614565354962}  {'$date': 1614565354962}

                  finishedDate                modifyDate  \
0     {'$date': 1609687531000}  {'$date': 1609687536000}
1     {'$date': 1609687483000}  {'$date': 1609687488000}
2                          NaN  {'$date': 1609687542000}
3     {'$date': 1609687534000}  {'$date': 1609687539000}
4     {'$date': 1609687511000}  {'$date': 1609687511000}
...                        ...                       ...
1114                       NaN  {'$date': 1614594148000}
1115                       NaN  {'$date': 1614613361873}
1116                       NaN  {'$date': 1614607657664}
1117                       NaN  {'$date': 1614604049000}
1118                       NaN  {'$date': 1614565354962}

             pointsAwardedDate  pointsEarned              purchaseDate  ...  \
0     {'$date': 1609687531000}         500.0  {'$date': 1609632000000}  ...
1     {'$date': 1609687483000}         150.0  {'$date': 1609601083000}  ...
2                          NaN           5.0  {'$date': 1609632000000}  ...
3     {'$date': 1609687534000}           5.0  {'$date': 1609632000000}  ...
4     {'$date': 1609687506000}           5.0  {'$date': 1609601106000}  ...
...                        ...           ...                       ...  ...
1114                       NaN          25.0  {'$date': 1597622400000}  ...
1115                       NaN           NaN                       NaN  ...
1116                       NaN           NaN                       NaN  ...
1117                       NaN          25.0  {'$date': 1597622400000}  ...
1118                       NaN           NaN                       NaN  ...

      finalPrice itemPrice  needsFetchReview partnerItemId  \
0          26.00     26.00             False             1
1              1         1              None             1
2           None      None             False             1
3          28.00     28.00             False             1
4              1         1              None             1
...          ...       ...               ...           ...
1114       22.97     22.97              None             0
1115        None      None              None          None
1116        None      None              None          None
1117       22.97     22.97              None             0
1118        None      None              None          None

     preventTargetGapPoints quantityPurchased userFlaggedBarcode  \
0                      True               5.0               4011
1                      None               1.0               None
2                      True               NaN               4011
3                      True               4.0               4011
4                      None               1.0               None
...                     ...               ...                ...
1114                   None               1.0               None
1115                   None               NaN               None
1116                   None               NaN               None
1117                   None               1.0               None
1118                   None               NaN               None

     userFlaggedNewItem userFlaggedPrice userFlaggedQuantity
0                  True            26.00                 5.0
1                  None             None                 NaN
2                  True            26.00                 3.0
3                  True            28.00                 4.0
4                  None             None                 NaN
...                 ...              ...                 ...
1114               None             None                 NaN
1115               None             None                 NaN
1116               None             None                 NaN
1117               None             None                 NaN
1118               None             None                 NaN

[1119 rows x 26 columns]

In [73]:
receipts_json['barcode']

0             4011
1             4011
2             None
3             4011
4             4011
           ...
1114    B076FJ92M4
1115          None
1116          None
1117    B076FJ92M4
1118          None
Name: barcode, Length: 1119, dtype: object

In [75]:
receipts_json.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId', 'barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity'],
      dtype='object')

In [79]:
receipts_json

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,...,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},...,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},...,1,1,None,1,None,1.0,None,None,None,NaN
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},...,None,None,False,1,True,NaN,4011,True,26.00,3.0
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},...,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},...,1,1,None,1,None,1.0,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,{'$date': 1614613361873},NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,{'$date': 1614607657664},NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,{'$date': 1614565354962},NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN

In [83]:
# Transform the _id column to keep only the $oid value
receipts_json['_id'] = receipts_json['_id'].apply(lambda x: x['$oid'])
receipts_json['createDate'] = receipts_json['createDate'].apply(lambda x: x['$date'])
receipts_json['dateScanned'] = receipts_json['dateScanned'].apply(lambda x: x['$date'])
receipts_json['modifyDate'] = receipts_json['modifyDate'].apply(lambda x: x['$date'])

In [85]:
receipts_json['finishedDate'] = receipts_json['finishedDate'].apply(lambda x: x['$date'] if isinstance(x, dict) and '$date' in x else np.nan)

receipts_json['pointsAwardedDate'] = receipts_json['pointsAwardedDate'].apply(lambda x: x['$date'] if isinstance(x, dict) and '$date' in x else np.nan)
receipts_json['purchaseDate'] = receipts_json['purchaseDate'].apply(lambda x: x['$date'] if isinstance(x, dict) and '$date' in x else np.nan)

In [292]:
result_df.columns

Index(['_id', 'barcode', 'description', 'finalPrice', 'itemPrice',
       'needsFetchReview', 'partnerItemId', 'preventTargetGapPoints',
       'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem',
       'userFlaggedPrice', 'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

In [293]:
result_df['_id'] = result_df['_id'].apply(lambda x: x['$oid'])

In [295]:
result_df.to_csv('receipts_item.csv')

In [296]:
#receipts_df.to_csv('receipts.csv')

In [297]:
result_df.columns

Index(['_id', 'barcode', 'description', 'finalPrice', 'itemPrice',
       'needsFetchReview', 'partnerItemId', 'preventTargetGapPoints',
       'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem',
       'userFlaggedPrice', 'userFlaggedQuantity', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

In [89]:
receipts_json

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,...,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,1.609632e+12,...,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,1.609601e+12,...,1,1,None,1,None,1.0,None,None,None,NaN
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5.0,1.609632e+12,...,None,None,False,1,True,NaN,4011,True,26.00,3.0
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,1.609632e+12,...,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,5.0,1.609601e+12,...,1,1,None,1,None,1.0,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,25.0,1.597622e+12,...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,1.597622e+12,...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN

In [90]:
# Convert createdDate to ISO 8601 format
receipts_json['createDate'] = pd.to_datetime(receipts_json['createDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')

# Convert lastLogin to ISO 8601 format
receipts_json['dateScanned'] = pd.to_datetime(receipts_json['dateScanned'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
receipts_json['modifyDate'] = pd.to_datetime(receipts_json['modifyDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
receipts_json['finishedDate'] = pd.to_datetime(receipts_json['finishedDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
receipts_json['pointsAwardedDate'] = pd.to_datetime(receipts_json['pointsAwardedDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')

receipts_json['purchaseDate'] = pd.to_datetime(receipts_json['purchaseDate'], unit='ms').dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')

In [91]:
receipts_json

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,...,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03T15:25:31.000000Z,2021-01-03T15:25:31.000000Z,2021-01-03T15:25:31.000000Z,2021-01-03T15:25:36.000000Z,2021-01-03T15:25:31.000000Z,500.0,2021-01-03T00:00:00.000000Z,...,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03T15:24:43.000000Z,2021-01-03T15:24:43.000000Z,2021-01-03T15:24:43.000000Z,2021-01-03T15:24:48.000000Z,2021-01-03T15:24:43.000000Z,150.0,2021-01-02T15:24:43.000000Z,...,1,1,None,1,None,1.0,None,None,None,NaN
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03T15:25:37.000000Z,2021-01-03T15:25:37.000000Z,NaN,2021-01-03T15:25:42.000000Z,NaN,5.0,2021-01-03T00:00:00.000000Z,...,None,None,False,1,True,NaN,4011,True,26.00,3.0
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:34.000000Z,2021-01-03T15:25:39.000000Z,2021-01-03T15:25:34.000000Z,5.0,2021-01-03T00:00:00.000000Z,...,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03T15:25:06.000000Z,2021-01-03T15:25:06.000000Z,2021-01-03T15:25:11.000000Z,2021-01-03T15:25:11.000000Z,2021-01-03T15:25:06.000000Z,5.0,2021-01-02T15:25:06.000000Z,...,1,1,None,1,None,1.0,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01T10:22:27.000000Z,2021-03-01T10:22:27.000000Z,NaN,2021-03-01T10:22:28.000000Z,NaN,25.0,2020-08-17T00:00:00.000000Z,...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01T15:42:41.873000Z,2021-03-01T15:42:41.873000Z,NaN,2021-03-01T15:42:41.873000Z,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01T14:07:37.664000Z,2021-03-01T14:07:37.664000Z,NaN,2021-03-01T14:07:37.664000Z,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01T13:07:28.000000Z,2021-03-01T13:07:28.000000Z,NaN,2021-03-01T13:07:29.000000Z,NaN,25.0,2020-08-17T00:00:00.000000Z,...,22.97,22.97,None,0,None,1.0,None,None,None,NaN
1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01T02:22:34.962000Z,2021-03-01T02:22:34.962000Z,NaN,2021-03-01T02:22:34.962000Z,NaN,NaN,NaN,...,None,None,None,None,None,NaN,None,None,None,NaN

In [92]:
brands_json

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...
1162,{'$oid': '5f77274dbe37ce6b592e90c0'},511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN
1163,{'$oid': '5dc1fca91dda2c0ad7da64ae'},511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL
1164,{'$oid': '5f494c6e04db711dd8fe87e7'},511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217
1165,{'$oid': '5a021611e4b00efe02b02a57'},511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves
1166,{'$oid': '6026d757be37ce6369301468'},511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644

In [93]:
# Function to extract values from the nested dictionaries in 'cpg' column
def extract_cpg_ref(row):
    if isinstance(row, dict) and "$ref" in row and "$id" in row["$id"]:
        return row["$ref"]
    else:
        return None

def extract_cpg_oid(row):
    if isinstance(row, dict) and "$id" in row and "$oid" in row["$id"]:
        return row["$id"]["$oid"]
    else:
        return None

# Apply the extraction functions to 'cpg' column
brands_json['cpg_ref'] = brands_json['cpg'].apply(extract_cpg_ref)
brands_json['cpg_oid'] = brands_json['cpg'].apply(extract_cpg_oid)

In [94]:
# Drop the original 'cpg' column
brands_json = brands_json.drop(columns=['cpg'])

# Display the transformed DataFrame
print(brands_json)

                                       _id       barcode            category  \
0     {'$oid': '601ac115be37ce2ead437551'}  511111019862              Baking
1     {'$oid': '601c5460be37ce2ead43755f'}  511111519928           Beverages
2     {'$oid': '601ac142be37ce2ead43755d'}  511111819905              Baking
3     {'$oid': '601ac142be37ce2ead43755a'}  511111519874              Baking
4     {'$oid': '601ac142be37ce2ead43755e'}  511111319917      Candy & Sweets
...                                    ...           ...                 ...
1162  {'$oid': '5f77274dbe37ce6b592e90c0'}  511111116752              Baking
1163  {'$oid': '5dc1fca91dda2c0ad7da64ae'}  511111706328  Breakfast & Cereal
1164  {'$oid': '5f494c6e04db711dd8fe87e7'}  511111416173      Candy & Sweets
1165  {'$oid': '5a021611e4b00efe02b02a57'}  511111400608             Grocery
1166  {'$oid': '6026d757be37ce6369301468'}  511111019930              Baking

          categoryCode                       name  topBrand  \
0               BAKING  test brand @1612366101024       0.0
1            BEVERAGES                  Starbucks       0.0
2               BAKING  test brand @1612366146176       0.0
3               BAKING  test brand @1612366146051       0.0
4     CANDY_AND_SWEETS  test brand @1612366146827       0.0
...                ...                        ...       ...
1162            BAKING  test brand @1601644365844       NaN
1163               NaN        Dippin Dots® Cereal       NaN
1164  CANDY_AND_SWEETS  test brand @1598639215217       NaN
1165               NaN          LIPTON TEA Leaves       0.0
1166            BAKING  test brand @1613158231643       0.0

                          brandCode cpg_ref                   cpg_oid
0                               NaN    None  601ac114be37ce2ead437550
1                         STARBUCKS    None  5332f5fbe4b03c9a25efd0ba
2     TEST BRANDCODE @1612366146176    None  601ac142be37ce2ead437559
3     TEST BRANDCODE @1612366146051    None  601ac142be37ce2ead437559
4     TEST BRANDCODE @1612366146827    None  5332fa12e4b03c9a25efd1e7
...                             ...     ...                       ...
1162                            NaN    None  5f77274dbe37ce6b592e90bf
1163             DIPPIN DOTS CEREAL    None  53e10d6368abd3c7065097cc
1164  TEST BRANDCODE @1598639215217    None  5332fa12e4b03c9a25efd1e7
1165              LIPTON TEA Leaves    None  5332f5f6e4b03c9a25efd0b4
1166  TEST BRANDCODE @1613158231644    None  6026d757be37ce6369301467

[1167 rows x 9 columns]

In [98]:
brands_json

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg_ref,cpg_oid
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,None,601ac114be37ce2ead437550
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,None,5332f5fbe4b03c9a25efd0ba
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,None,601ac142be37ce2ead437559
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,None,601ac142be37ce2ead437559
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,None,5332fa12e4b03c9a25efd1e7
...,...,...,...,...,...,...,...,...,...
1162,{'$oid': '5f77274dbe37ce6b592e90c0'},511111116752,Baking,BAKING,test brand @1601644365844,NaN,NaN,None,5f77274dbe37ce6b592e90bf
1163,{'$oid': '5dc1fca91dda2c0ad7da64ae'},511111706328,Breakfast & Cereal,NaN,Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL,None,53e10d6368abd3c7065097cc
1164,{'$oid': '5f494c6e04db711dd8fe87e7'},511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,None,5332fa12e4b03c9a25efd1e7
1165,{'$oid': '5a021611e4b00efe02b02a57'},511111400608,Grocery,NaN,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,None,5332f5f6e4b03c9a25efd0b4
1166,{'$oid': '6026d757be37ce6369301468'},511111019930,Baking,BAKING,test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,None,6026d757be37ce6369301467

In [99]:
brands_json['_id'] = brands_json['_id'].apply(lambda x: x['$oid'])

In [100]:
brands_json

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg_ref,cpg_oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,None,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,None,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,None,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,None,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,None,5332fa12e4b03c9a25efd1e7
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,test brand @1601644365844,NaN,NaN,None,5f77274dbe37ce6b592e90bf
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL,None,53e10d6368abd3c7065097cc
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,None,5332fa12e4b03c9a25efd1e7
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,None,5332f5f6e4b03c9a25efd0b4
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,None,6026d757be37ce6369301467

In [322]:
#users_json.to_csv('/Users/charumangla/Downloads/fetch_assessment/users.csv')
#receipts_json.to_csv('/Users/charumangla/Downloads/fetch_assessment/receipts.csv')
#brands_json.to_csv('/Users/charumangla/Downloads/fetch_assessment/brands.csv')

## Importing all the dataframes in PostgreSql to write the SQL queries

In [324]:
# PostgreSQL connection parameters
dbname = "charumangla"
user = "postgres"
password = "postgres"
host = "localhost"  
port = "5432"

In [320]:
# Connect to PostgreSQL
try:
    conn = psycopg2.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host,
        port=port
    )
    print("Connected to PostgreSQL!")

    # Create cursor object
    cursor = conn.cursor()

    # Function to create table from CSV
    def create_table_from_csv(csv_file, table_name, columns_info):
        with open(csv_file, 'r', encoding='utf-8') as f:
            reader = csv.reader(f)
            headers = next(reader)  # Get header row

            # Prepare SQL statement to create table
            create_table_sql = f"CREATE TABLE {table_name} ({', '.join(columns_info)});"
            cursor.execute(create_table_sql)
            print(f"Table {table_name} created successfully!")

            # Prepare SQL statement to copy data from CSV to table
            # The copy_sql includes the column names to ensure proper mapping
            copy_sql = f"COPY {table_name}({', '.join(headers)}) FROM stdin WITH CSV HEADER DELIMITER ','"
            f.seek(0)
            cursor.copy_expert(sql=copy_sql, file=f)
            print(f"Data imported into {table_name}!")

    # Define column information for each table (adjust as per your CSV structure)
    users_columns_info = [
        "_id VARCHAR(255)",
        "active BOOLEAN",
        "createdDate TIMESTAMP",
        "lastLogin TIMESTAMP",
        "role VARCHAR(255)",
        "signUpSource VARCHAR(255)",
        "state VARCHAR(255)"
    ]

    receipts_columns_info = [
        "_id VARCHAR(255)",
        "bonusPointsEarned INTEGER",
        "bonusPointsEarnedReason VARCHAR(255)",
        "createDate TIMESTAMP",
        "dateScanned TIMESTAMP",
        "finishedDate TIMESTAMP",
        "modifyDate TIMESTAMP",
        "pointsAwardedDate TIMESTAMP",
        "pointsEarned FLOAT",
        "purchaseDate TIMESTAMP",
        "purchasedItemCount FLOAT",
        "rewardsReceiptStatus VARCHAR(255)",
        "totalSpent FLOAT",
        "userId VARCHAR(255)",
        "brand_name VARCHAR(255)"
        # Add more columns as needed
    ]

    receipt_items_columns_info = [
        "_id VARCHAR(255)",
        "barcode VARCHAR(255)",
        "description VARCHAR(255)",
        "finalprice FLOAT",
        "itemprice FLOAT",
        "needsFetchReview VARCHAR(255)",
        "partnerItemId FLOAT",
        "preventTargetGapPoints VARCHAR(255)",
        "quantityPurchased FLOAT",
        "userFlaggedBarcode VARCHAR(255)",
        "userFlaggedNewItem VARCHAR(255)",
        "userFlaggedPrice FLOAT",
        "userFlaggedQuantity FLOAT",
        "needsFetchReviewReason VARCHAR(255)",
        "pointsNotAwardedReason VARCHAR(255)",
        "pointsPayerId VARCHAR(255)",
        "rewardsGroup VARCHAR(255)",
        "rewardsProductPartnerId VARCHAR(255)", 
        "userFlaggedDescription VARCHAR(255)",
       "originalMetaBriteBarcode VARCHAR(255)", 
       "originalMetaBriteDescription VARCHAR(255)", 
       "brandCode VARCHAR(255)",
       "competitorRewardsGroup VARCHAR(255)", 
       "discountedItemPrice FLOAT",
       "originalReceiptItemText VARCHAR(255)", 
       "itemNumber VARCHAR(255)",
       "originalMetaBriteQuantityPurchased FLOAT", 
       "targetPrice FLOAT",
       "competitiveProduct BOOLEAN", 
       "originalFinalPrice FLOAT",
       "originalMetaBriteItemPrice FLOAT", 
       "deleted VARCHAR(255)", 
       "priceAfterCoupon FLOAT",
       "metabriteCampaignId VARCHAR(255)"

    ]

    brands_columns_info = [
        "_id VARCHAR(255)",
        "barcode VARCHAR(255)",
        "category VARCHAR(255)",
        "categoryCode VARCHAR(255)",
        "name VARCHAR(255)",
        "topBrand FLOAT",
        "brandCode VARCHAR(255)",
        "cpg_ref VARCHAR(255)",
        "cpg_oid VARCHAR(255)"
        # Add more columns as needed
    ]

    # Import users.csv
    create_table_from_csv('users.csv', 'users', users_columns_info)

    # Import receipts.csv
    create_table_from_csv('receipts_og.csv', 'receipts', receipts_columns_info)

    create_table_from_csv('receipts_item.csv', 'receipts_item', receipt_items_columns_info)

    # Import brands.csv
    create_table_from_csv('brands.csv', 'brands', brands_columns_info)

    # Commit changes
    conn.commit()

except Error as e:
    print(f"Error connecting to PostgreSQL: {e}")
finally:
    if conn:
        cursor.close()
        conn.close()
        print("PostgreSQL connection is closed.")

Connected to PostgreSQL!
Table users created successfully!
Data imported into users!
Table receipts created successfully!
Data imported into receipts!
Table receipts_item created successfully!
Data imported into receipts_item!
Table brands created successfully!
Data imported into brands!
PostgreSQL connection is closed.

## Performing Exploratory Data Analysis

In [327]:
# Load the CSV files into DataFrames
users_df = pd.read_csv('users.csv')
receipts_df = pd.read_csv('receipts.csv')
receipts_item_df = pd.read_csv('receipts_item.csv')
brands_df = pd.read_csv('brands.csv')

# Display unique values in potential fields
print("Receipts - Description:")
print(receipts_item_df['description'].unique())

print("\nBrands - Name:")
print(brands_df['name'].unique())

print("\nReceipts - User IDs:")
print(receipts_df['userId'].unique())

print("\nUsers - IDs:")
print(users_df['_id'].unique())

Receipts - Description:
['ITEM NOT FOUND'
 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ' nan ...
 'spigen thin fit designed for iphone 12 mini case (2020) - black'
 'spigen tempered glass screen protector [glas.tr ez fit] designed foriphone 12 mini - sensor protection / 2 pack'
 'Berry Strawberry Conventional, 16 Ounce']

Brands - Name:
['test brand @1612366101024' 'Starbucks' 'test brand @1612366146176' ...
 'test brand @1598639215217' 'LIPTON TEA Leaves'
 'test brand @1613158231643']

Receipts - User IDs:
['5ff1e1eacfcf6c399c274ae6' '5ff1e194b6a9d73a3a9f1052'
 '5ff1e1f1cfcf6c399c274b0b' '5ff1e1e4cfcf6c399c274ac3'
 '5f9c74f7c88c1415cbddb839' '5ff1e1e9b6a9d73a3a9f10f6'
 '5ff1e1dfcfcf6c399c274ab3' '5ff1e1b4cfcf6c399c274a54'
 '5f9c74e3f1937815bd2c1d73' '5ff1e196cfcf6c399c274a38'
 '5ff370c562fde912123a5e0e' '5ff36d0362fde912123a5535'
 '5ff36be7135e7011bcb856d3' '54943462e4b07e684157a532'
 '5ff36a3862fde912123a4460' '5ff36d78135e7011bcb86488'
 '5964eb07e4b03efd0c0f267b' '5c3388caea88e15513a95069'
 '5ff37124135e7011bcb86bc3' '5ff4ce3dc3d63511e2a484dc'
 '5fbc35711d967d1222cbfefc' '5ff4ce33c3d63511e2a484b6'
 '5ff47392c3d63511e2a47881' '5ff473f3c1e2d0121a9b2707'
 '5ff4ce3ac1e2d0121a9b2fb3' '5a43c08fe4b014fd6b6a0612'
 '5ff4ce68c1e2d0121a9b3022' '5fa5ad376a26f611e71ab5ef'
 '5ff4ce65c3d63511e2a4853b' '5ff4ce3cc1e2d0121a9b2fba'
 '5ff5d15aeb7c7d12096d91a2' '5ff5d1a38f142f11dd1886ba'
 '5ff616a68f142f11dd189163' '5ff5d1d08f142f11dd18884c'
 '5ff5d19b8f142f11dd188696' '5ff73be5eb7c7d31ca8a45a7'
 '5ff79464b3348b11c933738b' '5ff7268eeb7c7d12096da2a9'
 '5ff7741e04929111f6e90902' '5ff73b90eb7c7d31ca8a452b'
 '5ff7930fb3348b11c93372a6' '5ff73bea8f142f3276c3e84a'
 '5ff74f3db3348b11c93361d1' '5ff79459b3348b11c933736d'
 '5ff7264e8f142f11dd189504' '5ff75004b3348b11c9336bd6'
 '5ff73be9eb7c7d31ca8a45bc' '5ff7946004929111f6e90ceb'
 '5ff726a38f142f11dd1895dc' '5ff793dd04929111f6e90c69'
 '5ff8da4e04929111f6e91462' '5ff873ddb3348b11c9337733'
 '5ff873d1b3348b11c9337716' '5ff8da28b3348b11c9337ac6'
 '5ff8da7c04929111f6e914de' '5ff8da65b3348b11c9337b29'
 '5ff8ce8504929111f6e913cb' '5ff8da62b3348b11c9337b21'
 '5ff8da7eb3348b11c9337b72' '5ff8c4e8b3348b11c9337a11'
 '5fa5b0b720dc5111dd86dcc1' '5ff8c88604929111f6e913b7'
 '5ff873d304929111f6e91096' '5ff8c330b3348b11c9337a04'
 '5ff8da7db3348b11c9337b6a' '5ffc98b604929111f6e923f5'
 '5ffcb47d04929111f6e9256c' '5ffc8ff9b3348b11c9338896'
 '5ffc9d8cb3348b11c9338927' '5ffc9da0b3348b11c9338951'
 '5ffc9d87b3348b11c9338920' '5ffc8cc104929111f6e922a3'
 '5ffcb4b9b3348b11c9338ae7' '5ffca2f3b3348b11c9338a10'
 '5ffc8f9704929111f6e922bf' '5ffc92a104929111f6e923cb'
 '5ffcb48d04929111f6e92594' '5ffcb4bc04929111f6e92608'
 '5ffc9d9d04929111f6e9244f' '5ffc9d9cb3348b11c933893f'
 '5ffc8cb304929111f6e9229d' '5ffcb4b8b3348b11c9338ae1'
 '59c124bae4b0299e55b0f330' '5fff26bfb3348b03eb45bb32'
 '5fff0f4fb3348b03eb45abb0' '5fff4beedf9ace121f0c17ea'
 '5fff2698b3348b03eb45bb10' '5ffe115404929101d0aaebb2'
 '5fff561abd4dff11dda8fa2b' '5fff55dabd4dff11dda8f5f1'
 '5fff4c7d61ffa811fdb0856f' '6000d4abe2571211db395b5c'
 '6000b884fb296c121a81ad3b' '6000b7aefb296c121a8198b1'
 '6000d46cfb296c121a81b20c' '5e27526d0bdb6a138c32b556'
 '6000d4aafb296c121a81b27e' '600056a3f7e5b011fce897b0'
 '60005704bd4dff11dda90a9d' '6000d4b5fb296c121a81b2bd'
 '6000d4bae2571211db395b9f' '600056d6bd4dff11dda90a3f'
 '5e56d38507a0df22a15dfc85' '6000b75bbe5fc96dfee1d4d3'
 '60037329e257124ec6b99eeb' '60023de5fb296c121a81b955'
 '6002475cfb296c121a81b98d' '60025c65fb296c4ef805d9e6'
 '600258dafb296c4ef805d9b7' '6002541ae257124ec6b99a3a'
 '60024f24e257124ec6b99a13' '60037005e257124ec6b99ec2'
 '60025fe0e257124ec6b99a87' '600498c4e257124ec6b9a331'
 '60037a94fb296c4ef805ddbe' '6004a5d3fb296c4ef805e256'
 '600495c3fb296c4ef805e1fc' '5fa32b4d898c7a11a6bcebce'
 '60049cdce257124ec6b9a353' '5fb0a078be5fc9775c1f3945'
 '6004a965e257124ec6b9a39f' '60074b49325c8a1794623876'
 '600741d06e6469120a787853' '6007423b6e6469120a787c2c'
 '600748196e64691717e8d4f0' '6007464b6e64691717e8c1f0'
 '600746fd6e64691717e8cfb5' '6006f1c5e257127d5d9aedfb'
 '60074b996e64691717e8f11a' '6008896c633aab121bb8e11d'
 '60088d5cb6310511daa4ee6f' '6008873eb6310511daa4e8eb'
 '60088a46b6310511daa4ec97' '60083a1e325c8a17946255de'
 '6008412f6e64697abedcd5d5' '60085b3dbe5fc90ee6a67b11'
 '600861d3be5fc9247bab3e0c' '60088d55633aab121bb8e41a'
 '600887a5b6310511daa4e9a7' '60088d58633aab121bb8e424'
 '60088838633aab121bb8df69' '60088a25b6310511daa4ec42'
 '5cd06f1f2acf0a2667da628b' '60088af5633aab121bb8e31b'
 '60088aff633aab121bb8e33d' '6008f02fb6310511daa4f314'
 '6009e60450b3311194385009' '6008e9cdb6310511daa4f2e4'
 '600987d77d983a11f63cfa92' '6009f6927d983a124e9adaad'
 '600992d17d983a11f63d11ad' '60099c1450b33111fd61f702'
 '6009fd1550b33111943850b1' '6009885c50b33111fd61eee9'
 '600988557d983a11f63d08ef' '6009969150b33111fd61f6d9'
 '600b349550b3311194385600' '600b2d7a50b33111943855cb'
 '600afb2a7d983a124e9aded0' '600a1a457d983a124e9adb9b'
 '600b41d050b3311194385655' '600af8097d983a124e9adeb3'
 '600b39ce50b331119438562a' '600b00687d983a124e9adef9'
 '600a1ddf50b33111943851a2' '600ba68e7d983a124e9ae1d3'
 '600b477e7d983a124e9ae061' '600ed4815edb7811cde6b50b'
 '600ed42e43298911ce45d1fa' '600ed95043298911ce45e82c'
 '600f41b2bd196811e68ea219' '600f008f4329897eac237bd8'
 '600f47f06fd0dc1768a34a12' '600f489d6fd0dc1768a35a88'
 '600f014d4329897eac238b88' '600f20c15edb787dce060911'
 '600f00d05edb787dce05fb84' '600fb1ac73c60b12049027bb'
 '600f35015edb782098e2ac1b' '600fb1e4a4b74c120bd18777'
 '600fb1ec73c60b1204902af4' '6011f31ea4b74c18d3a8c476'
 '6010bddaa4b74c120bd19dfb' '60118c0fa4b74c18d3a8c151'
 '60118beaa4b74c18d3a8c0f8' '6010bdf673c60b120490404e'
 '60118bcfa4b74c18d3a8c0d7' '6010be18a4b74c120bd19e43'
 '5fa8d542b055fd1dfdf09517' '6011f33173c60b1804ce1102'
 '6010be1c73c60b1204904079' '60118c09a4b74c18d3a8c12e'
 '5fa8d573770b516dda4f4d21' '6010be6673c60b12049040ef'
 '5fa41775898c7a11a6bcef3e' '6012e1e6a4b74c3cbc516088'
 '60132acb73c60b3ca7f3ba32' '60132b85a4b74c3cbc516295'
 '600f29a64329897eac239049' '60132b8873c60b3ca7f3bae8'
 '60132b8b73c60b3ca7f3baee' '601442ce67804a1228b1dc41'
 '6014485b84231211ce793d79' '6014319173c60b3ca7f3bf01'
 '6014436084231211ce793ced' '60145a3c84231211ce796c5d'
 '6014499c67804a1228b1f5b0' '60147a84c8b50e11d8453f29'
 '5fc961c3b8cfca11a077dd33' '601465a884231211ce796db3'
 '60145a5467804a1228b20ded' '60145ff384231211ce796d51'
 '60145a5167804a1228b20ddd' '6014658e67804a1228b20ef4'
 '6014554a67804a1228b20ca9' '6014558284231211ce796b88'
 '601441a984231211ce792603' '6014435467804a1228b1dcaf'
 '6014558767804a1228b20d00' '60146f2ac8b50e11d8452661'
 '601836c2c8b50e11d8454b58' '60147d2ac8b50e11d8453f53'
 '601830cdc8b50e11d8454a6f' '60182f1dc8b50e11d84548c4'
 '60186237c8b50e11d8454d5f' '601890689a1b091205b61c87'
 '60183c839a1b091205b61aca' '601830ce9a1b091205b618e8'
 '60182d6dc8b50e11d84547b2' '601836829a1b091205b6194d'
 '60183090c8b50e11d84549c0' '601890b2c8b50e11d8454e82'
 '60189c859a1b091205b61de1' '60189c94c8b50e11d8454f6b'
 '60189c74c8b50e11d8454eff' '60189c92c8b50e11d8454f5d'
 '5fb1bd519c09d811e5211cef' '60189c90c8b50e11d8454f49'
 '5fb2da582357ec11d4ecc403' '542ace60e4b0b3d724922499'
 '601aaebde409201029849b3c' '601c6887969c0b11f7d0c81f'
 '601c68ce29c30a1227ada468' '601c2c05969c0b11f7d0b097'
 '601ead00b57b8a12187fce78' '6021768799409b11fcf8987f'
 '54ca99a9e4b0b11b4f7d6dc5' '6022998599409b11fcf89c53'
 '602401f1c081001222409ad6' '60245433efa60112282c1859'
 '6024291f58b989121e6bad5f' '602558b1efa60114d20e5dc7'
 '60253861efa6017a44dc6b50' '60253891b54593795bf69242'
 '60255883efa60114d20e5d4e' '60268c69efa6011bb151075f'
 '60268c7bb545931ac63683af' '60268c78efa6011bb151077d']

Users - IDs:
['5ff1e194b6a9d73a3a9f1052' '5ff1e1eacfcf6c399c274ae6'
 '5ff1e1e8cfcf6c399c274ad9' '5ff1e1b7cfcf6c399c274a5a'
 '5ff1e1f1cfcf6c399c274b0b' '5ff1e1e4cfcf6c399c274ac3'
 '5ff1e1b4cfcf6c399c274a54' '5ff370c562fde912123a5e0e'
 '5ff36d0362fde912123a5535' '5ff36d83135e7011bcb864d6'
 '5ff36c8862fde912123a538a' '5ff36be7135e7011bcb856d3'
 '5ff36a3862fde912123a4460' '5ff36c8e135e7011bcb85da4'
 '5ff3711e62fde912123a620e' '5ff4ce33c3d63511e2a484b6'
 '5ff473e7c1e2d0121a9b2697' '5ff47392c3d63511e2a47881'
 '5ff4ce91c1e2d0121a9b3057' '5ff4ce3dc3d63511e2a484dc'
 '5ff4ce34c3d63511e2a484ba' '5ff4ce3ac1e2d0121a9b2fb3'
 '5ff5d15aeb7c7d12096d91a2' '5ff5d1a38f142f11dd1886ba'
 '5ff5d1d08f142f11dd18884c' '5ff7264e8f142f11dd189504'
 '5ff7401ceb7c7d31ca8a46e0' '5ff73bea8f142f3276c3e84a'
 '5ff74f3db3348b11c93361d1' '5ff73b90eb7c7d31ca8a452b'
 '5ff7930fb3348b11c93372a6' '5ff7268eeb7c7d12096da2a9'
 '5ff726a0eb7c7d12096da2db' '5ff793dd04929111f6e90c69'
 '5ff7949eb3348b11c93373d2' '5ff7268c8f142f11dd189579'
 '5ff616a68f142f11dd189163' '5ff79464b3348b11c933738b'
 '5ff8c241b3348b11c93379fc' '5ff8ce8504929111f6e913cb'
 '5ff873d1b3348b11c9337716' '5ff873ef04929111f6e910f0'
 '5ff8c4e8b3348b11c9337a11' '5ff8da28b3348b11c9337ac6'
 '5ff8da7db3348b11c9337b6a' '5ff873ddb3348b11c9337733'
 '5ff8a11db3348b11c93378aa' '5ff8d634b3348b11c9337aa4'
 '5ff8c330b3348b11c9337a04' '5ff8da7eb3348b11c9337b72'
 '5ffcb47d04929111f6e9256c' '5ffc8ff9b3348b11c9338896'
 '5ffc8f9704929111f6e922bf' '5ffc9001b3348b11c93388b6'
 '5ffcb4bc04929111f6e92608' '5ffc9d87b3348b11c9338920'
 '5ffc9d9f04929111f6e92456' '5ffca30604929111f6e92525'
 '5fff0f9804929101d0ab0697' '5fff0f4fb3348b03eb45abb0'
 '5fff4beedf9ace121f0c17ea' '5ffe115404929101d0aaebb2'
 '5fff55dabd4dff11dda8f5f1' '5fff26bab3348b03eb45bb22'
 '5fff4c7461ffa811fdb0854c' '5fff26bfb3348b03eb45bb32'
 '5fff26f2b3348b03eb45bbb9' '6000d4bae2571211db395b9f'
 '600056a3f7e5b011fce897b0' '6000d46cfb296c121a81b20c'
 '6000b7aefb296c121a8198b1' '60005709bd4dff11dda90ac1'
 '5e27526d0bdb6a138c32b556' '6000d4abe2571211db395b5c'
 '600056d6bd4dff11dda90a3f' '60005704bd4dff11dda90a9d'
 '6002475cfb296c121a81b98d' '60024f24e257124ec6b99a13'
 '60037329e257124ec6b99eeb' '6000b75bbe5fc96dfee1d4d3'
 '6002541ae257124ec6b99a3a' '600258dafb296c4ef805d9b7'
 '60025c65fb296c4ef805d9e6' '60037005e257124ec6b99ec2'
 '60023de5fb296c121a81b955' '60049cdce257124ec6b9a353'
 '60025fe0e257124ec6b99a87' '600498c4e257124ec6b9a331'
 '6004a5d3fb296c4ef805e256' '60037a94fb296c4ef805ddbe'
 '600495c3fb296c4ef805e1fc' '6004a965e257124ec6b9a39f'
 '6007464b6e64691717e8c1f0' '600741d06e6469120a787853'
 '600748196e64691717e8d4f0' '600746fd6e64691717e8cfb5'
 '60074b49325c8a1794623876' '60074b996e64691717e8f11a'
 '60074246325c8a12289e22a0' '60074883325c8a1794622a12'
 '6006f786fb296c7f688530f8' '60088d55633aab121bb8e41a'
 '6008893b633aab121bb8e0a9' '60083a1e325c8a17946255de'
 '6008896c633aab121bb8e11d' '60086a09b6310511daa4e1e9'
 '60088e5d633aab121bb8e5cf' '60085b3dbe5fc90ee6a67b11'
 '60088e44b6310511daa4ef80' '60088d84633aab121bb8e4a6'
 '6008873eb6310511daa4e8eb' '60086978633aab121bb8c895'
 '60088a25b6310511daa4ec42' '6008622ebe5fc9247bab4eb9'
 '6008897ab6310511daa4ebdc' '60088a46b6310511daa4ec97'
 '600987d77d983a11f63cfa92' '6008f02fb6310511daa4f314'
 '600988557d983a11f63d08ef' '6009885c50b33111fd61eee9'
 '6009e60450b3311194385009' '6008d447b6310511daa4f281'
 '60099c1450b33111fd61f702' '6008e9cdb6310511daa4f2e4'
 '600a03e17d983a124e9adb0f' '600992d17d983a11f63d11ad'
 '600b477e7d983a124e9ae061' '600f008f4329897eac237bd8'
 '600ed4815edb7811cde6b50b' '600f41b2bd196811e68ea219'
 '600f20c15edb787dce060911' '600f47f06fd0dc1768a34a12'
 '600ed42e43298911ce45d1fa' '600eea525edb7811cde6c81c'
 '600ed48a5edb7811cde6b549' '600fb1ac73c60b12049027bb'
 '600fb1ec73c60b1204902af4' '600fb1e4a4b74c120bd18777'
 '6011f33173c60b1804ce1102' '6011f43ba4b74c18d3a8ca01'
 '6011f31ea4b74c18d3a8c476' '6011f42773c60b1804ce1607'
 '60118bcfa4b74c18d3a8c0d7' '6010be65a4b74c120bd19edc'
 '6010bddaa4b74c120bd19dfb' '60118c0fa4b74c18d3a8c151'
 '6010be6673c60b12049040ef' '6010be6173c60b12049040d7'
 '60132acb73c60b3ca7f3ba32' '600f00d05edb787dce05fb84'
 '60132b85a4b74c3cbc516295' '60132b8b73c60b3ca7f3baee'
 '600f19914329897eac238fef' '6014558767804a1228b20d00'
 '601465c567804a1228b20f89' '60145a3c84231211ce796c5d'
 '6014499c67804a1228b1f5b0' '600f35015edb782098e2ac1b'
 '60147001c8b50e11d8453c36' '60145a5584231211ce796cac'
 '6014319173c60b3ca7f3bf01' '6014558467804a1228b20cf0'
 '6014485b84231211ce793d79' '601431c173c60b3ca7f3bf63'
 '601465a884231211ce796db3' '60145ff384231211ce796d51'
 '60146f2ac8b50e11d8452661' '6014658e67804a1228b20ef4'
 '601442ce67804a1228b1dc41' '601465a584231211ce796da5'
 '60147d2ac8b50e11d8453f53' '601890a99a1b091205b61ced'
 '60183090c8b50e11d84549c0' '60182f4ac8b50e11d8454946'
 '60182d6dc8b50e11d84547b2' '60183c579a1b091205b61a5f'
 '60189c94c8b50e11d8454f6b' '60189c74c8b50e11d8454eff'
 '60189c88c8b50e11d8454f2f' '60189c859a1b091205b61de1'
 '60186237c8b50e11d8454d5f' '601ac1da591789121574dc07'
 '60183e6c9a1b091205b61b49' '601ac195af4b1a1205f7560f'
 '601c6887969c0b11f7d0c81f' '601c68d229c30a1227ada484'
 '601c2c05969c0b11f7d0b097' '601c2c6a29c30a1227ad93bd'
 '55308179e4b0eabd8f99caa2' '60217fa799409b11fcf899fe'
 '602176c9b57b8a12187fe77e' '602176a3b57b8a12187fe717'
 '6022998599409b11fcf89c53' '60229990b57b8a12187fe9e0'
 '59c124bae4b0299e55b0f330' '6024399defa60112282c0ac9'
 '5f2068904928021530f8fc34' '602558b1efa60114d20e5dc7'
 '602538adb54593795bf692ac' '60255883efa60114d20e5d4e'
 '602558adb5459313e1e9b7ce' '6025388fb54593795bf69234'
 '5fb0a078be5fc9775c1f3945' '60268c7aefa6011bb1510786'
 '5a43c08fe4b014fd6b6a0612' '60268c69efa6011bb151075f'
 '5fbc35711d967d1222cbfefc' '5fc961c3b8cfca11a077dd33'
 '5fa41775898c7a11a6bcef3e' '5fa32b4d898c7a11a6bcebce'
 '5964eb07e4b03efd0c0f267b' '54943462e4b07e684157a532']

In [329]:
receipts_item_df['description'].unique()

array(['ITEM NOT FOUND',
       'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
       nan, ...,
       'spigen thin fit designed for iphone 12 mini case (2020) - black',
       'spigen tempered glass screen protector [glas.tr ez fit] designed foriphone 12 mini - sensor protection / 2 pack',
       'Berry Strawberry Conventional, 16 Ounce'], dtype=object)

## Trying to extract/match brand_names from Receipts - Description using Regex 

    - As we were not able to find a way to join brands with either Receipts or Users table, hence we tried to match/extract the brand names from Receipts description

In [193]:


# Function to extract potential brand names from description
def extract_brand_names(description):
    brand_names = []
    words = re.findall(r'\b\w+\b', description.lower())
    for i in range(len(words)):
        for j in range(i+1, len(words)+1):
            brand_name = ' '.join(words[i:j])
            brand_names.append(brand_name)
    return brand_names

# Function to find the best match
def find_best_match(description, brands):
    best_match = ''
    best_score = 0
    
    # Check for 'ITEM NOT FOUND' or NaN in description
    if 'ITEM NOT FOUND' in str(description) or pd.isna(description):
        return ''
    
    potential_brands = extract_brand_names(description)
    
    for brand in brands:
        for potential_brand in potential_brands:
            score = fuzz.token_sort_ratio(potential_brand, brand.lower())
            if score > best_score:
                best_match = brand
                best_score = score
    
    return best_match

In [194]:
# Create a new column 'brand_name' in receipts_df
receipts_df['brand_name'] = receipts_item_df['description'].apply(lambda x: find_best_match(x, brands_df['name'].tolist()))

In [195]:
receipts_df['brand_name'].value_counts()

brand_name
                      700
Terrapin               50
Nutri-Grain            44
Huggies                28
Oscar Mayer            24
                     ...
KLONDIKE                1
Good Seasons            1
Zima                    1
MOMOFUKU Sauce          1
Malibu® Strawberry      1
Name: count, Length: 104, dtype: int64

In [196]:
receipts_df[['description', 'brand_name']][:60]

                                          description         brand_name
0                                      ITEM NOT FOUND
1                                      ITEM NOT FOUND
2                                                 NaN
3                                      ITEM NOT FOUND
4                                      ITEM NOT FOUND
5                                      ITEM NOT FOUND
6                                        MSSN TORTLLA             Total™
7       Old El Paso Mild Chopped Green Chiles, 4.5 Oz             DEGREE
8                                      ITEM NOT FOUND
9                                      ITEM NOT FOUND
10                                     ITEM NOT FOUND
11  Annie's Homegrown Organic White Cheddar Macaro...  Annie's Homegrown
12                       MILLER LITE 24 PACK 12OZ CAN        Miller Lite
13                                                NaN
14                                     ITEM NOT FOUND
15                                                NaN
16                                     ITEM NOT FOUND
17                                                NaN
18                                     ITEM NOT FOUND
19                                     ITEM NOT FOUND
20                                                NaN
21                                     ITEM NOT FOUND
22                                     ITEM NOT FOUND
23  KNORR ASSORTED PASTA SIDE DISH POUCH IN CARDBO...              KNORR
24                                     ITEM NOT FOUND
25                                     ITEM NOT FOUND
26                                     ITEM NOT FOUND
27  SUAVE PROFESSIONALS MOISTURIZING SHAMPOO LIQUI...              SUAVE
28                                       DELETED ITEM          Diet Rite
29                                     ITEM NOT FOUND
30  CAPRI SUN Roarin' Waters Tropical Fruit Juice ...          Capri Sun
31                                                NaN
32          PLANTERSe Cashew Halves & Pieces - 46 oz.           Planters
33       CLASSICO Traditional Basil Pesto 14OZ 12pack           Classico
34  K9 Crystal Chandelier with 4 Lights in Globe S...              Shape
35                    OSCAR MAYER Cotto Salami, 12 oz        Oscar Mayer
36                                                NaN
37   KRAFT Barbecue Roasted Garlic 18 OZ 002100067835              Kraft
38  OSCAR MAYER Carving Board Oven Roasted Turkey ...        Oscar Mayer
39                                                NaN
40  MAXWELL HOUSE Orange International Cafe Bevera...      Maxwell House
41  KRAFT BACK TO NATURE CHEDDAR CHEESE SHELL MACA...              Kraft
42  SMART MADE Rosemary Grilled Beef & Vegetables ...         Smart Made
43  Jell-O Make Your Own Mixchief Gelatin Juice 0....             Jell-O
44                            NATURE TREE Walnuts 8oz            Natural
45  OSCAR MAYER XXL Premium Fully-Cooked Beef Fran...        Oscar Mayer
46   GEVALIA KAFFE Cold Brew Iced Latte Mocha 11fl OZ            Gevalia
47                                             #NAME?             Barmen
48  flipbelt level terrain waist pouch, neon yello...           Terrapin
49  T.G.I. FRIDAY'S(r) Frozen Loaded Baked Potato ...             Baked!
50                                                NaN
51                                                NaN
52         OSCAR MAYER Lower Sodium Bacon 16 oz. Pack        Oscar Mayer
53               TASSIMO French Vanilla T-Discs, 80ct            Tassimo
54                                                NaN
55  OSCAR MAYER Jumbo Angus Beef Uncured Franks, 1...        Oscar Mayer
56                                                NaN
57                                                NaN
58                                                NaN
59  flipbelt level terrain waist pouch, neon yello...           Terrapin

In [197]:
receipts_df.to_csv('/Users/charumangla/Downloads/fetch_assessment/receipts.csv')

In [198]:
receipts_df.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptStatus', 'totalSpent', 'userId', 'barcode',
       'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', 'brand_name'],
      dtype='object')

## EDA

In [330]:
users_df

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03T15:25:30.554000Z,2021-01-03T15:25:30.596999Z,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03T15:24:04.800000Z,2021-01-03T15:25:37.857999Z,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,fetch-staff,NaN,NaN

In [331]:
users_df.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

### NULLS/Missing Values in lastLogin, signUpSource, and state - in Users data

In [332]:
print(users_df.describe())

                             _id active                  createdDate  \
count                        495    495                          495
unique                       212      2                          212
top     54943462e4b07e684157a532   True  2014-12-19T14:21:22.381000Z
freq                          20    494                           20

                          lastLogin      role signUpSource state
count                           433       495          447   439
unique                          172         2            2     8
top     2021-03-05T16:52:23.204000Z  consumer        Email    WI
freq                             20       413          443   396

In [333]:
print(users_df.duplicated().sum())

283

In [334]:
users_df['state'].value_counts()

state
WI    396
NH     20
AL     12
OH      5
IL      3
KY      1
CO      1
SC      1
Name: count, dtype: int64

In [335]:
users_df['role'].value_counts()

role
consumer       413
fetch-staff     82
Name: count, dtype: int64

In [336]:
users_df.dtypes

_id             object
active            bool
createdDate     object
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

In [342]:
## Duplicate columns

def find_duplicated_columns(df):
    duplicated_columns = []
    for column in df.columns:
        if df[column].duplicated().any():
            duplicated_columns.append(column)
    return duplicated_columns

In [343]:
find_duplicated_columns(users_df)

['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource', 'state']

### Duplicate values in columns of _id, active, createdDate, lastLogin, role, signUpSource, and state in Users data

In [344]:
find_duplicated_columns(brands_df)

['barcode',
 'category',
 'categoryCode',
 'name',
 'topBrand',
 'brandCode',
 'cpg_ref',
 'cpg_oid']

In [340]:
find_duplicated_columns(receipts_df)

['bonusPointsEarned',
 'bonusPointsEarnedReason',
 'createDate',
 'dateScanned',
 'finishedDate',
 'modifyDate',
 'pointsAwardedDate',
 'pointsEarned',
 'purchaseDate',
 'purchasedItemCount',
 'rewardsReceiptStatus',
 'totalSpent',
 'userId',
 'brand_name']

In [345]:
find_duplicated_columns(receipts_item_df)

['_id',
 'barcode',
 'description',
 'finalPrice',
 'itemPrice',
 'needsFetchReview',
 'partnerItemId',
 'preventTargetGapPoints',
 'quantityPurchased',
 'userFlaggedBarcode',
 'userFlaggedNewItem',
 'userFlaggedPrice',
 'userFlaggedQuantity',
 'needsFetchReviewReason',
 'pointsNotAwardedReason',
 'pointsPayerId',
 'rewardsGroup',
 'rewardsProductPartnerId',
 'userFlaggedDescription',
 'originalMetaBriteBarcode',
 'originalMetaBriteDescription',
 'brandCode',
 'competitorRewardsGroup',
 'discountedItemPrice',
 'originalReceiptItemText',
 'itemNumber',
 'originalMetaBriteQuantityPurchased',
 'targetPrice',
 'competitiveProduct',
 'originalFinalPrice',
 'originalMetaBriteItemPrice',
 'deleted',
 'priceAfterCoupon',
 'metabriteCampaignId']

In [346]:
brands_df.isnull().sum()

_id                0
barcode            0
category         155
categoryCode     650
name               0
topBrand         612
brandCode        269
cpg_ref         1167
cpg_oid            0
dtype: int64

### Nulls/Missing values in category, categoryCode, topBrand, brandCode, and cpg_ref - in brands data

In [347]:
receipts_df.isnull().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
brand_name                 700
dtype: int64

### Nulls/missing values in bonusPointsEarned, bonusPointsEarnedReason, finshedDate, pointsAwardedDate, pointsEarned, purchaseDate, purchasedItemCount, totalSpent - in receipts data

In [224]:
brands_df['brandCode'].value_counts()[50:100]

brandCode
CAMPO VIEJO                        1
KAHLUA                             1
MUMM NAPA                          1
MALFY                              1
TEST BRANDCODE @1610039590990      1
TEST BRANDCODE @1610495622510      1
TEST BRANDCODE @1610496646104      1
ONE                                1
FLINTSTONES MULTIVITAMIN GUMMY     1
FOSTER'S                           1
F WHITLOCK AND SONS                1
TEST BRANDCODE @1610046687007      1
TEST BRANDCODE @1610046687035      1
TEST BRANDCODE @1610046686980      1
TEST BRANDCODE @1599097538572      1
I CAN'T BELIEVE IT'S NOT BUTTER    1
TEST BRANDCODE @1607463684777      1
BAKEN-ETS                          1
LIBERTE                            1
APPLE CINNAMON CHEERIOS            1
ST STEFANUS                        1
DOLE CHILLED FRUIT JUICES          1
SUAVE                              1
CLASSICO                           1
STROEHMANN                         1
BUBLY                              1
1915 BOLTHOUSE FARMS               1
TEST BRANDCODE @1610046687624      1
TEST BRANDCODE @1610046686954      1
TEST BRANDCODE @1610049748079      1
MIRALAX LAXATIVES                  1
FRUITY CHEERIOS                    1
TEST BRANDCODE @1599097539367      1
HENRY WEINHARDS                    1
TALENTI                            1
TEST BRANDCODE @1610495623019      1
TEST BRANDCODE @1610495622536      1
TEST BRANDCODE @1610495622560      1
ONE A DAY                          1
COUNTRY CROCK ORIGINAL             1
HELLMANN'S/BEST FOODS              1
TEST BRANDCODE @1597527951382      1
TEST BRANDCODE @1601644882040      1
TEST BRANDCODE @1597527952048      1
TEST BRANDCODE @1595968943787      1
TEST BRANDCODE @1598635634767      1
TEST BRANDCODE @1600291349208      1
RED DOG                            1
SMITH & FORGE                      1
LIPTON Iced Tea Beverages          1
Name: count, dtype: int64

In [348]:
users_df.describe()

,_id,active,createdDate,lastLogin,role,signUpSource,state
count,495,495,495,433,495,447,439
unique,212,2,212,172,2,2,8
top,54943462e4b07e684157a532,True,2014-12-19T14:21:22.381000Z,2021-03-05T16:52:23.204000Z,consumer,Email,WI
freq,20,494,20,20,413,443,396

In [349]:
receipts_df.describe()

       bonusPointsEarned  pointsEarned  purchasedItemCount   totalSpent
count         544.000000    609.000000           635.00000   684.000000
mean          238.893382    585.962890            14.75748    77.796857
std           299.091731   1357.166947            61.13424   347.110349
min             5.000000      0.000000             0.00000     0.000000
25%             5.000000      5.000000             1.00000     1.000000
50%            45.000000    150.000000             2.00000    18.200000
75%           500.000000    750.000000             5.00000    34.960000
max           750.000000  10199.800000           689.00000  4721.950000

In [350]:
brands_df.describe()

            barcode    topBrand  cpg_ref
count  1.167000e+03  555.000000      0.0
mean   5.111115e+11    0.055856      NaN
std    2.874497e+05    0.229850      NaN
min    5.111110e+11    0.000000      NaN
25%    5.111112e+11    0.000000      NaN
50%    5.111114e+11    0.000000      NaN
75%    5.111117e+11    0.000000      NaN
max    5.111119e+11    1.000000      NaN

In [351]:
users_df.dtypes

_id             object
active            bool
createdDate     object
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

In [352]:
receipts_df.dtypes

_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
brand_name                  object
dtype: object

In [353]:
brands_df['brandCode'].value_counts()

brandCode
5.11112E+11                      29
5.11111E+11                      25
GOODNITES                         2
HUGGIES                           2
STARBUCKS                         1
                                 ..
TEST BRANDCODE @1599159969028     1
TEST BRANDCODE @1597350074404     1
SEDAL                             1
RED ROCK DELI                     1
TEST BRANDCODE @1613158231644     1
Name: count, Length: 844, dtype: int64

### Inconsistent values in brandCode - brands_df